/* DEFAULT STYLES */

body {
  background-color: #fcf9f4;
  overflow-x: hidden;
}

:root {
  --bs-primary: #9a8058;
  --bs-secondary: #51381f;
  --bs-tertiary: #efc739;
  --bs-dark: #0d0a19;
  --bs-white: #fcf9f4;
}

.font-text {
  font-family: "poppins", sans-serif;
}

.font-heading {
  font-family: "cooper-black-std", serif;
}

.row {
  --bs-gutter-x: 0rem;
}

/* NAVIGATION STYLES */
.navbar {
  transition: all 0.5s;
}

.navbar.scrolled {
  background-color: #51381f !important;
}

.navbar-nav {
  --bs-nav-link-padding-y: 0.2rem;
}

.nav-link {
  color: var(--bs-white);
  border-bottom: 2px solid transparent;
}

.nav-link.active {
  color: var(--bs-tertiary) !important;
  border-bottom: 2px solid var(--bs-tertiary);
}

.nav-link:hover:not(.active) {
  color: var(--bs-tertiary) !important;
  border-bottom: 2px solid var(--bs-tertiary);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-gold,
.btn-gold:focus,
.btn-gold:active,
.btn-gold:visited,
.btn-gold:hover {
  background-color: var(--bs-tertiary) !important;
  color: var(--bs-secondary) !important;
  border-color: var(--bs-tertiary) !important;
}

@media (max-width: 991.98px) {
  .navbar {
    background-color: #51381f !important;
  }
}

/* Home page - Hero section */
.hero {
  background: url("../img/turkey_home_hero.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: var(--bs-white);
}

.skew-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 160px;
  background: var(--bs-white);
  clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
  z-index: 1;
}

.btn-outline-light {
  border-width: 2px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn-outline-light:hover {
  background-color: var(--bs-tertiary);
  color: var(--bs-secondary);
  border-color: var(--bs-tertiary);
}
